@using TemperaturMonitor.Services
@inject IColorService ColorService
@inject IClampService ClampService

<div class="card card-ram">
    <div class="titleRow">
        <span>@Title</span>
        <span class="sub">@Load.ToString("0") %</span>
    </div>

    <div class="loadRow">
        <span class="loadLabel">Load</span>
        <div class="loadBar"
             role="progressbar"
             aria-valuenow="@LoadPercent"
             aria-valuemin="0"
             aria-valuemax="100">
            <div class="loadFill"
                 style="width:@LoadPercent%; background:@ColorService.LoadToColor(Load);">
            </div>
        </div>
        <span class="loadValue">@Load.ToString("0")%</span>
    </div>
</div>

@code
{
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public float Load { get; set; } 
    
    private int LoadPercent => (int)ClampService.Clamp(Load, 0, 100);
}
