@inherits LayoutComponentBase

<div class="app-shell">
    <main class="app-main">
        <article class="app-content">
            @Body
        </article>
    </main>
</div>

<span class="version-label">Version 2.0</span>
